.popup__input {
    /* height: 42px; */
    height: 20px;
    width: 358px;
    
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 0;
    margin: 0;

}

.popup__input:focus {
    border-bottom: 1px solid #2982ff;
    color: #2982ff;
}

@media screen and (max-width: 620px) {
    .popup__input {
        width: 238px;
        
       
    }
}